@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-item {
  float: left;
  font-size: 15px;
  font-weight: bold;
}
.header-pages {
  background: #FFFFFF;
}
.nav-item-home {
  color: #00FF99;
}

/*logo*/
.logo {
  color: #FF0000;
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logo:hover {
  color: #00FF99;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center {
  text-align: center;
h1 {
    margin-bottom: 10px;
  }
}
.infor {
  text-align: center;
}
.logo-footer {
  text-align: center;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

body {
  padding-top: 60px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.category {
  list-style: none;
  margin: 0;
  text-align: center;
  li {
    overflow: auto;
    padding: 12px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
#category {
  text-align: left;
}

.images_book {
  height: 240px;
  width: 150px;
}

.cate_menu {
  float: right;
  min-width: 200px;
  min-height: 1000px;
}

.list_view_book {
  list-style: none;
}

.table_request {
  margin-top: 30px;
}

.images_book_detail {
  height: 340px;
  width: 220px;
  margin-top: 50px;
}

.details_book {
  margin-top: 50px;
  h1, h2 {
   text-align: left;
    margin-bottom: 15px;
  }
}

.review_book {
  margin-top: 40px;
  h1 {
    text-align: left;
    font-size: 2.2em;
  }
  .rate {
    color: yellow;
  }
}

.hr_book {
  background-color: black;
  height: 1px;
  border: 0;
}

.unfavorite_icon {
  color: red;
}

.favorite_icon {
  color: red;
}

.btn_favorite {
  padding: 0;
  border: none;
  background: none;
}

.glyphicon-heart-empty {
  font-size: 2em;
}

.glyphicon-heart {
  font-size: 2em;
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.btn_submit {
  float: right;
}
.search {
  margin-top: 30px;
}
