<div class="row show_comments_review" style="text-align: right;">
  <h5><%= review.comments.count %> <%= t("comments.comments") %></h5>
</div>
<% review.comments.each do |comment| %>
  <%= render "comments/comment", book: review.book, comment: comment %>
<% end %>
