<% provide :title, t("layout.home") %>
<div class="center jumbotron">
  <h1> <%= t "static-pages.home.welcome" %> </h1>

  <h2> <%= t "static-pages.home.slogan" %> </h2>

  <%= link_to t("static-pages.home.sign-now"), "#", class: "btn btn-lg btn-primary" %>
</div>
